src/decision-centre/main/default/flows/FL006HomesAppChecksEvaluationFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Set_Flow_Orchestration_Value_to_True</name>
        <label>Set Flow Orchestration Value to True</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>isOrchestrationConditionMet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>VerifyApplicationCheckRecordExist</name>
        <label>Verify Application Check Record Exist</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>App_Check_Record_Does_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_Application_Decisions_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VerifyApplicationStageAndStatus</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Flow_Orchestration_Value_to_True</targetReference>
            </connector>
            <label>App Check Record Does Not Exist</label>
        </rules>
    </decisions>
    <description>FL006-Homes-App Checks Evaluation Flow : This is an Evaluation flow for Flow Orchestration</description>
    <environments>Default</environments>
    <interviewLabel>FL006-Homes-App Checks Evaluation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL006-Homes-App Checks Evaluation Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>EvaluationFlow</processType>
    <recordLookups>
        <name>Fetch_Application_Decisions_Record</name>
        <label>Fetch Application Decisions Record</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VerifyApplicationCheckRecordExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HMResidentialLoanApplication__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ResidentialLoanApplicationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>HMDecisionType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Application Checks</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HMAppDecision__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>VerifyApplicationStageAndStatus</name>
        <label>Verify Application Stage And Status</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Application_Decisions_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ResidentialLoanApplicationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>HMStage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FMA</stringValue>
            </value>
        </filters>
        <filters>
            <field>HMStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResidentialLoanApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>VerifyApplicationStageAndStatus</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>isOrchestrationConditionMet</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ResidentialLoanApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
