src/decision-centre/main/default/flows/FL004HomesUpdateUserDeclineDecision.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_error_message_on_Fetch_Child_Application_Decision_Records</name>
        <label>Assign error message on Fetch Child Application Decision Records</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>ExceptionCustomMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExceptionLoggingOnFetchChildApplicationDecision</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Exception_Logging</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_error_message_on_Update_User_Decision_To_Decline</name>
        <label>Assign error message on Update User Decision To Decline</label>
        <locationX>578</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>ExceptionCustomMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExceptionLoggingOnUpdateUserDecisionToDecline</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Exception_Logging</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IsAnyBlankUserDecision_Assignment</name>
        <label>IsAnyBlankUserDecision Assignment</label>
        <locationX>402</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>IsAnyBlankUserDecisionRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_on_Referred_Child_Application_Decisions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IsAnyDeclineValue_Assignment</name>
        <label>IsAnyDeclineValue Assignment</label>
        <locationX>666</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>IsAnyDeclineValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_on_Referred_Child_Application_Decisions</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>DecisionCentre</name>
        <dataType>String</dataType>
        <value>
            <stringValue>decision-centre</stringValue>
        </value>
    </constants>
    <constants>
        <name>Error</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ERROR</stringValue>
        </value>
    </constants>
    <constants>
        <name>ExceptionLoggingOnFetchChildApplicationDecision</name>
        <dataType>String</dataType>
        <value>
            <stringValue>FL004HomesUpdateUserDeclineDecision - Exception on Fetch Child Application Decision</stringValue>
        </value>
    </constants>
    <constants>
        <name>ExceptionLoggingOnUpdateUserDecisionToDecline</name>
        <dataType>String</dataType>
        <value>
            <stringValue>FL004HomesUpdateUserDeclineDecision - Exception on Update User Decision To Decline</stringValue>
        </value>
    </constants>
    <constants>
        <name>FlowApiName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>FL004HomesUpdateUserDeclineDecision</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_If_Any_Record_Without_Value_And_Decline_Condition</name>
        <label>Check If Any Record Without Value And Decline Condition</label>
        <locationX>314</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>Confirmation_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UserDecisionBlank_And_Decline_Value_Outcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>IsAnyBlankUserDecisionRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsAnyDeclineValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Message</targetReference>
            </connector>
            <label>UserDecisionBlank And Decline Value Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Yes_Confirmation</name>
        <label>Check If Yes Confirmation</label>
        <locationX>578</locationX>
        <locationY>950</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Verify_Decision_Outcome_Decline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConfirmationValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Decision_To_Decline</targetReference>
            </connector>
            <label>Verify Decision Outcome Decline</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_Decision_Value</name>
        <label>Check User Decision Value</label>
        <locationX>666</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Iterate_on_Referred_Child_Application_Decisions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsAnyRecordWithoutValue</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_on_Referred_Child_Application_Decisions.HMUserDecision__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_on_Referred_Child_Application_Decisions.HMUserDecision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterate_on_Referred_Child_Application_Decisions.HMUserDecision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>null</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsAnyBlankUserDecision_Assignment</targetReference>
            </connector>
            <label>IsAnyRecordWithoutValue</label>
        </rules>
        <rules>
            <name>IsAnyDeclineValueCondition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_on_Referred_Child_Application_Decisions.HMUserDecision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Decline</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsAnyDeclineValue_Assignment</targetReference>
            </connector>
            <label>IsAnyDeclineValueCondition</label>
        </rules>
    </decisions>
    <description>FL004-Homes-Update User Decline Decision : This flow updates the Application Decision record User Decision field based on Conditions</description>
    <environments>Default</environments>
    <interviewLabel>FL004-Homes-Update User Decline Decision {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL004-Homes-Update User Decline Decision</label>
    <loops>
        <name>Iterate_on_Referred_Child_Application_Decisions</name>
        <label>Iterate on Referred Child Application Decisions</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <collectionReference>Fetch_Child_Application_Decision_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_User_Decision_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_If_Any_Record_Without_Value_And_Decline_Condition</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Fetch_Child_Application_Decision_Records</name>
        <label>Fetch Child Application Decision Records</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_on_Referred_Child_Application_Decisions</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_error_message_on_Fetch_Child_Application_Decision_Records</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HMSystemDecision__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fail</stringValue>
            </value>
        </filters>
        <filters>
            <field>HMParentDecision__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>HMAppDecision__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_User_Decision_To_Decline</name>
        <label>Update User Decision To Decline</label>
        <locationX>314</locationX>
        <locationY>1058</locationY>
        <faultConnector>
            <targetReference>Assign_error_message_on_Update_User_Decision_To_Decline</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HMUserDecision__c</field>
            <value>
                <stringValue>Decline</stringValue>
            </value>
        </inputAssignments>
        <object>HMAppDecision__c</object>
    </recordUpdates>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>578</locationX>
        <locationY>842</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_If_Yes_Confirmation</targetReference>
        </connector>
        <fields>
            <name>DeclineConfirmation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em&gt;Are you sure you want to Decline ?&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirmation_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirmation_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_NoConfirmation</name>
                    <extensionName>runtime_industries_lending:flowButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>renderNext</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttonLabel</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_YesConfirmation</name>
                    <extensionName>runtime_industries_lending:flowButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>buttonLabel</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>ConfirmationValue</assignToReference>
                        <name>renderNext</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Message</name>
        <label>Display Message</label>
        <locationX>50</locationX>
        <locationY>842</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayWarning</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;color: rgb(0, 0, 0); font-family: sans-serif;&quot;&gt;Unable to ‘Decline’ until all individual failed checks have been actioned AND at least one of them has been updated to ‘Decline’&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fetch_Child_Application_Decision_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Exception_Logging</name>
        <label>Exception Logging</label>
        <locationX>578</locationX>
        <locationY>1274</locationY>
        <flowName>FL010HomesExceptionLoggingScreenFlow</flowName>
        <inputAssignments>
            <name>ExceptionTags</name>
            <value>
                <elementReference>DecisionCentre</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowAPIName</name>
            <value>
                <elementReference>FlowApiName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowFaultErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LogEntryCustomMessage</name>
            <value>
                <elementReference>ExceptionCustomMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LoggingLevel</name>
            <value>
                <elementReference>Error</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ConfirmationValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExceptionCustomMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsAnyBlankUserDecisionRecord</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsAnyDeclineValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
