src/decision-centre/main/default/flows/FL001HomesCreateAppCheckRecords.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>HomesApplicantChecksFTB call</description>
        <name>HomesApplicantChecksFTBAction</name>
        <label>HomesApplicantChecksFTBAction</label>
        <locationX>1722</locationX>
        <locationY>3230</locationY>
        <actionName>HomesApplicantChecksFTB</actionName>
        <actionType>runExpressionSet</actionType>
        <connector>
            <targetReference>Applicant_Check_Rule_1_Collection</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Logger_Variables_for_HomesApplicantChecksFTBAction</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>IsAffordabilityImpacted</name>
            <value>
                <elementReference>Fetch_RLA_Records.HMIsAffordabilityImpacted__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OccupationType</name>
            <value>
                <elementReference>OccupationType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LastName</name>
            <value>
                <elementReference>Iterate_Applicant_Records.HMLastName__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FirstName</name>
            <value>
                <elementReference>Iterate_Applicant_Records.HMFirstName__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>MiddleName</name>
            <value>
                <elementReference>Iterate_Applicant_Records.HMMiddleName__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PostTown</name>
            <value>
                <elementReference>Fetch_Loan_Application_Property.HMPostTown__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsExpectedtoRetireEarly</name>
            <value>
                <elementReference>IsExpectedtoRetireEarly</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmploymentType</name>
            <value>
                <elementReference>EmploymentType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PreviousLastName</name>
            <value>
                <elementReference>Iterate_Applicant_Records.HMPreviousLastName__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PreviousFirstName</name>
            <value>
                <elementReference>Iterate_Applicant_Records.HMPreviousFirstName__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PreviousMiddleName</name>
            <value>
                <elementReference>Iterate_Applicant_Records.HMPreviousMiddleName__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WorkPostTown</name>
            <value>
                <elementReference>WorkPostTown</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmployerName</name>
            <value>
                <elementReference>EmployerName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>HomesApplicantChecksFTB</nameSegment>
        <outputParameters>
            <assignToReference>Rule5Outcome</assignToReference>
            <name>Rule5Outcome</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule6Outcome</assignToReference>
            <name>Rule6Outcome</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule8Outcome</assignToReference>
            <name>Rule8Outcome</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule7Outcome</assignToReference>
            <name>Rule7Outcome</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule1OutcomeDecisionMessage</assignToReference>
            <name>RuleOutcome__DecisionMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule1Outcome</assignToReference>
            <name>Rule1Outcome</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule7DecisionMessage</assignToReference>
            <name>Rule7DecisionMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule8DecisionMessage</assignToReference>
            <name>Rule8DecisionMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule5DecisionMessage</assignToReference>
            <name>Rule5DecisionMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule6DecisionMessage</assignToReference>
            <name>Rule6DecisionMessage</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>HomesApplicantChecksPOMF BRE</description>
        <name>HomesApplicantChecksPOMFAction</name>
        <label>HomesApplicantChecksPOMFAction</label>
        <locationX>2778</locationX>
        <locationY>3230</locationY>
        <actionName>HomesApplicantChecksPOMF</actionName>
        <actionType>runExpressionSet</actionType>
        <connector>
            <targetReference>Applicant_Check_Rule_1_Collection</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Logger_Variables_for_HomesApplicantChecksPOMFAction</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>IsAffordabilityImpacted</name>
            <value>
                <elementReference>Fetch_RLA_Records.HMIsAffordabilityImpacted__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OccupationType</name>
            <value>
                <elementReference>OccupationType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LastName</name>
            <value>
                <elementReference>Iterate_Applicant_Records.HMLastName__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PostTown</name>
            <value>
                <elementReference>Fetch_Loan_Application_Property.HMPostTown__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FirstName</name>
            <value>
                <elementReference>Iterate_Applicant_Records.HMFirstName__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>MiddleName</name>
            <value>
                <elementReference>Iterate_Applicant_Records.HMMiddleName__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsExpectedtoRetireEarly</name>
            <value>
                <elementReference>IsExpectedtoRetireEarly</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmploymentType</name>
            <value>
                <elementReference>EmploymentType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PreviousLastName</name>
            <value>
                <elementReference>Iterate_Applicant_Records.HMPreviousLastName__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PreviousFirstName</name>
            <value>
                <elementReference>Iterate_Applicant_Records.HMPreviousFirstName__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PreviousMiddleName</name>
            <value>
                <elementReference>Iterate_Applicant_Records.HMPreviousMiddleName__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WorkPostTown</name>
            <value>
                <elementReference>WorkPostTown</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmployerName</name>
            <value>
                <elementReference>EmployerName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>HomesApplicantChecksPOMF</nameSegment>
        <outputParameters>
            <assignToReference>Rule5Outcome</assignToReference>
            <name>Rule5Outcome</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule6Outcome</assignToReference>
            <name>Rule6Outcome</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule8Outcome</assignToReference>
            <name>Rule8Outcome</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule1OutcomeDecisionMessage</assignToReference>
            <name>RuleOutcome__DecisionMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule7Outcome</assignToReference>
            <name>Rule7Outcome</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule1Outcome</assignToReference>
            <name>Rule1Outcome</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule7DecisionMessage</assignToReference>
            <name>Rule7DecisionMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule5DecisionMessage</assignToReference>
            <name>Rule5DecisionMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule8DecisionMessage</assignToReference>
            <name>Rule8DecisionMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule6DecisionMessage</assignToReference>
            <name>Rule6DecisionMessage</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>HomesApplicantChecksRemortgageAction</name>
        <label>HomesApplicantChecksRemortgageAction</label>
        <locationX>1194</locationX>
        <locationY>3230</locationY>
        <actionName>HomesApplicantChecksRemortgage</actionName>
        <actionType>runExpressionSet</actionType>
        <connector>
            <targetReference>Applicant_Check_Rule_1_Collection</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Logger_Variables_for_HomesApplicantChecksRemortgageAction</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>PreviousMiddleName</name>
            <value>
                <elementReference>Iterate_Applicant_Records.HMPreviousMiddleName__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FirstName</name>
            <value>
                <elementReference>Iterate_Applicant_Records.HMFirstName__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsExpectedtoRetireEarly</name>
            <value>
                <elementReference>IsExpectedtoRetireEarly</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LastName</name>
            <value>
                <elementReference>Iterate_Applicant_Records.HMLastName__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmploymentType</name>
            <value>
                <elementReference>EmploymentType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PreviousLastName</name>
            <value>
                <elementReference>Iterate_Applicant_Records.HMPreviousLastName__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>MiddleName</name>
            <value>
                <elementReference>Iterate_Applicant_Records.HMMiddleName__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WorkPostTown</name>
            <value>
                <elementReference>WorkPostTown</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PostTown</name>
            <value>
                <elementReference>Fetch_Loan_Application_Property.HMPostTown__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OccupationType</name>
            <value>
                <elementReference>OccupationType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PreviousFirstName</name>
            <value>
                <elementReference>Iterate_Applicant_Records.HMPreviousFirstName__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmployerName</name>
            <value>
                <elementReference>EmployerName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsAffordabilityImpacted</name>
            <value>
                <elementReference>Fetch_RLA_Records.HMIsAffordabilityImpacted__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>HomesApplicantChecksRemortgage</nameSegment>
        <outputParameters>
            <assignToReference>Rule8DecisionMessage</assignToReference>
            <name>Rule8DecisionMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule8Outcome</assignToReference>
            <name>Rule8Outcome</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule6DecisionMessage</assignToReference>
            <name>Rule6DecisionMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule5Outcome</assignToReference>
            <name>Rule5Outcome</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule7DecisionMessage</assignToReference>
            <name>Rule7DecisionMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule7Outcome</assignToReference>
            <name>Rule7Outcome</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule1Outcome</assignToReference>
            <name>Rule1Outcome</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule1OutcomeDecisionMessage</assignToReference>
            <name>RuleOutcome__DecisionMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule5DecisionMessage</assignToReference>
            <name>Rule5DecisionMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule6Outcome</assignToReference>
            <name>Rule6Outcome</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>HomesApplicantChecksSwitcherAction</name>
        <label>HomesApplicantChecksSwitcherAction</label>
        <locationX>2250</locationX>
        <locationY>3230</locationY>
        <actionName>HomesApplicantChecksSwitcher</actionName>
        <actionType>runExpressionSet</actionType>
        <connector>
            <targetReference>Applicant_Check_Rule_1_Collection</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Logger_Variables_for_HomesApplicantChecksSwitcherAction</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>PreviousMiddleName</name>
            <value>
                <elementReference>Iterate_Applicant_Records.HMPreviousMiddleName__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FirstName</name>
            <value>
                <elementReference>Iterate_Applicant_Records.HMFirstName__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsExpectedtoRetireEarly</name>
            <value>
                <elementReference>IsExpectedtoRetireEarly</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LastName</name>
            <value>
                <elementReference>Iterate_Applicant_Records.HMLastName__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmploymentType</name>
            <value>
                <elementReference>EmploymentType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PreviousLastName</name>
            <value>
                <elementReference>Iterate_Applicant_Records.HMPreviousLastName__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>MiddleName</name>
            <value>
                <elementReference>Iterate_Applicant_Records.HMMiddleName__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WorkPostTown</name>
            <value>
                <elementReference>WorkPostTown</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PostTown</name>
            <value>
                <elementReference>Fetch_Loan_Application_Property.HMPostTown__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OccupationType</name>
            <value>
                <elementReference>OccupationType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PreviousFirstName</name>
            <value>
                <elementReference>Iterate_Applicant_Records.HMPreviousFirstName__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EmployerName</name>
            <value>
                <elementReference>EmployerName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsAffordabilityImpacted</name>
            <value>
                <elementReference>Fetch_RLA_Records.HMIsAffordabilityImpacted__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>HomesApplicantChecksSwitcher</nameSegment>
        <outputParameters>
            <assignToReference>Rule8DecisionMessage</assignToReference>
            <name>Rule8DecisionMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule8Outcome</assignToReference>
            <name>Rule8Outcome</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule6DecisionMessage</assignToReference>
            <name>Rule6DecisionMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule5Outcome</assignToReference>
            <name>Rule5Outcome</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule7DecisionMessage</assignToReference>
            <name>Rule7DecisionMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule7Outcome</assignToReference>
            <name>Rule7Outcome</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule1Outcome</assignToReference>
            <name>Rule1Outcome</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule1OutcomeDecisionMessage</assignToReference>
            <name>RuleOutcome__DecisionMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule5DecisionMessage</assignToReference>
            <name>Rule5DecisionMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule6Outcome</assignToReference>
            <name>Rule6Outcome</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>HomesApplicationCheckFTBAction</name>
        <label>HomesApplicationCheckFTBAction</label>
        <locationX>578</locationX>
        <locationY>1382</locationY>
        <actionName>HomesApplicationCheckFTB</actionName>
        <actionType>runExpressionSet</actionType>
        <connector>
            <targetReference>Iterate_Applicant_Records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Logger_Variables_for_HomesApplicationCheckFTBAction</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>IsThisPurchasePrivateSale</name>
            <value>
                <elementReference>Fetch_Loan_Application_Property.HMIsPrivateSale__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WillPropertyBePrimaryResidence</name>
            <value>
                <elementReference>Fetch_Loan_Application_Property.HMIsPropertyPrimaryResidence__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>HomesApplicationCheckFTB</nameSegment>
        <outputParameters>
            <assignToReference>Rule4Outcome</assignToReference>
            <name>Rule4Outcome</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule4DecisionMessage</assignToReference>
            <name>Rule4DecisionMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule2Outcome</assignToReference>
            <name>Rule2Outcome</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule2OutcomeDecisionMessage</assignToReference>
            <name>RuleOutcome__DecisionMessage</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>HomesApplicationCheckPOMFAction</name>
        <label>HomesApplicationCheckPOMFAction</label>
        <locationX>1634</locationX>
        <locationY>1382</locationY>
        <actionName>HomesApplicationCheckPOMF</actionName>
        <actionType>runExpressionSet</actionType>
        <connector>
            <targetReference>Iterate_Applicant_Records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Logger_Variables_for_HomesApplicationCheckPOMFAction</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>LoanApplicantAddress1Postcode</name>
            <value>
                <elementReference>PostCodeApplicant1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PropertyPostTown</name>
            <value>
                <elementReference>Fetch_Loan_Application_Property.HMPostTown__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsSecondApplicantAvailability</name>
            <value>
                <elementReference>IsSecondApplicantAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsPropertyToBeRemortgage</name>
            <value>
                <elementReference>Fetch_Loan_Application_Property.HMIsApplicantLivingAtRemortProperty__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LoanApplicantAddress2Postcode</name>
            <value>
                <elementReference>PostCodeApplicant2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsArmedForced</name>
            <value>
                <elementReference>Fetch_Loan_Application_Property.HMIsAnyApplicantMemberOfArmedForces__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WillPropertyBePrimaryResidence</name>
            <value>
                <elementReference>Fetch_Loan_Application_Property.HMIsPropertyPrimaryResidence__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>HomesApplicationCheckPOMF</nameSegment>
        <outputParameters>
            <assignToReference>Rule3DecisionMessage</assignToReference>
            <name>Rule3DecisionMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule10Outcome</assignToReference>
            <name>Rule10Outcome</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule10DecisionMessage</assignToReference>
            <name>Rule10DecisionMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule2Outcome</assignToReference>
            <name>Rule2Outcome</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule9DecisionMessage</assignToReference>
            <name>Rule9DecisionMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule3Outcome</assignToReference>
            <name>Rule3Outcome</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule9Outcome</assignToReference>
            <name>Rule9Outcome</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule2OutcomeDecisionMessage</assignToReference>
            <name>RuleOutcome__DecisionMessage</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>HomesApplicationCheckRemortgageAction</name>
        <label>HomesApplicationCheckRemortgageAction</label>
        <locationX>50</locationX>
        <locationY>1382</locationY>
        <actionName>HomesApplicationCheckRemortgage</actionName>
        <actionType>runExpressionSet</actionType>
        <connector>
            <targetReference>Iterate_Applicant_Records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Logger_Variables_for_Homes_App_Check_Remortgage</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>LoanApplicantAddress1Postcode</name>
            <value>
                <elementReference>PostCodeApplicant1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>PropertyPostTown</name>
            <value>
                <elementReference>Fetch_Loan_Application_Property.HMPostTown__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsSecondApplicantAvailability</name>
            <value>
                <elementReference>IsSecondApplicantAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsPropertyToBeRemortgage</name>
            <value>
                <elementReference>Fetch_Loan_Application_Property.HMIsApplicantLivingAtRemortProperty__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>LoanApplicantAddress2Postcode</name>
            <value>
                <elementReference>PostCodeApplicant2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsArmedForced</name>
            <value>
                <elementReference>Fetch_Loan_Application_Property.HMIsAnyApplicantMemberOfArmedForces__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WillPropertyBePrimaryResidence</name>
            <value>
                <elementReference>Fetch_Loan_Application_Property.HMIsPropertyPrimaryResidence__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>HomesApplicationCheckRemortgage</nameSegment>
        <outputParameters>
            <assignToReference>Rule3DecisionMessage</assignToReference>
            <name>Rule3DecisionMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule10Outcome</assignToReference>
            <name>Rule10Outcome</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule2Outcome</assignToReference>
            <name>Rule2Outcome</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule10DecisionMessage</assignToReference>
            <name>Rule10DecisionMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule9DecisionMessage</assignToReference>
            <name>Rule9DecisionMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule9Outcome</assignToReference>
            <name>Rule9Outcome</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule3Outcome</assignToReference>
            <name>Rule3Outcome</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule2OutcomeDecisionMessage</assignToReference>
            <name>RuleOutcome__DecisionMessage</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>HomesApplicationCheckSwitcherAction</name>
        <label>HomesApplicationCheckSwitcherAction</label>
        <locationX>1106</locationX>
        <locationY>1382</locationY>
        <actionName>HomesApplicationCheckSwitcher</actionName>
        <actionType>runExpressionSet</actionType>
        <connector>
            <targetReference>Iterate_Applicant_Records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Logger_Variables_for_HomesApplicationCheckSwitcherAction</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>IsThisPurchasePrivateSale</name>
            <value>
                <elementReference>Fetch_Loan_Application_Property.HMIsPrivateSale__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WillPropertyBePrimaryResidence</name>
            <value>
                <elementReference>Fetch_Loan_Application_Property.HMIsPropertyPrimaryResidence__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>HomesApplicationCheckSwitcher</nameSegment>
        <outputParameters>
            <assignToReference>Rule4Outcome</assignToReference>
            <name>Rule4Outcome</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule4DecisionMessage</assignToReference>
            <name>Rule4DecisionMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule2Outcome</assignToReference>
            <name>Rule2Outcome</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule2OutcomeDecisionMessage</assignToReference>
            <name>RuleOutcome__DecisionMessage</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>AcceptValueAssign</name>
        <label>AcceptValueAssign</label>
        <locationX>644</locationX>
        <locationY>5774</locationY>
        <assignmentItems>
            <assignToReference>ParentRecordOutcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AcceptValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetHMChecksUiRecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Applicant_Check_Rule_1_Collection</name>
        <label>Applicant Check Rule 1 Collection</label>
        <locationX>2250</locationX>
        <locationY>3662</locationY>
        <assignmentItems>
            <assignToReference>ApplicationDecisionRecord.HMSystemDecision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule1Outcome</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionRecord.HMExplanationOfCheck__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule1OutcomeDecisionMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionRecord.HMDecisionDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionRecord.HMRuleName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Self Employed - Home Address vs. Place of Work</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionRecord.HMLoanApplicant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Applicant_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionRecord.HMDecisionType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Application Checks</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionChildFinalCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ApplicationDecisionRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Applicant_Check_Rule_5_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Applicant_Check_Rule_5_Collection</name>
        <label>Applicant Check Rule 5 Collection</label>
        <locationX>2250</locationX>
        <locationY>3770</locationY>
        <assignmentItems>
            <assignToReference>ApplicationDecisionRecord.HMSystemDecision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule5Outcome</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionRecord.HMExplanationOfCheck__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule5DecisionMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionRecord.HMDecisionDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionRecord.HMRuleName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Change in Circumstances</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionRecord.HMLoanApplicant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Applicant_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionRecord.HMDecisionType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Application Checks</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionChildFinalCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ApplicationDecisionRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Applicant_Check_Rule_6_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Applicant_Check_Rule_6_Collection</name>
        <label>Applicant Check Rule 6 Collection</label>
        <locationX>2250</locationX>
        <locationY>3878</locationY>
        <assignmentItems>
            <assignToReference>ApplicationDecisionRecord.HMSystemDecision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule6Outcome</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionRecord.HMExplanationOfCheck__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule6DecisionMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionRecord.HMDecisionDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionRecord.HMRuleName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Retirement Plausibility Check</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionRecord.HMLoanApplicant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Applicant_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionRecord.HMDecisionType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Application Checks</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionChildFinalCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ApplicationDecisionRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Applicant_Check_Rule_7_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Applicant_Check_Rule_7_Collection</name>
        <label>Applicant Check Rule 7 Collection</label>
        <locationX>2250</locationX>
        <locationY>3986</locationY>
        <assignmentItems>
            <assignToReference>ApplicationDecisionRecord.HMSystemDecision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule7Outcome</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionRecord.HMExplanationOfCheck__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule7DecisionMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionRecord.HMDecisionDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionRecord.HMRuleName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Self-Employed Job Title Check</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionRecord.HMLoanApplicant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Applicant_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionRecord.HMDecisionType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Application Checks</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionChildFinalCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ApplicationDecisionRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Applicant_Check_Rule_8_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Applicant_Check_Rule_8_Collection</name>
        <label>Applicant Check Rule 8 Collection</label>
        <locationX>2250</locationX>
        <locationY>4094</locationY>
        <assignmentItems>
            <assignToReference>ApplicationDecisionRecord.HMSystemDecision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule8Outcome</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionRecord.HMExplanationOfCheck__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule8DecisionMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionRecord.HMDecisionDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionRecord.HMRuleName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Employer Name Check (Self-Employed)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionRecord.HMLoanApplicant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Applicant_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionRecord.HMDecisionType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Application Checks</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionChildFinalCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ApplicationDecisionRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Verify_Decision_Outcome</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Application_Check_Record_Rule10</name>
        <label>Application Check Record Rule10</label>
        <locationX>1106</locationX>
        <locationY>5018</locationY>
        <assignmentItems>
            <assignToReference>ApplicationTypeDecision.HMRuleName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Remortgage Address = Current Address &amp; Live in Property = No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationTypeDecision.HMSystemDecision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule10Outcome</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationTypeDecision.HMExplanationOfCheck__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule10DecisionMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationTypeDecision.HMDecisionDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationTypeDecision.HMParentDecision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Parent_Decision_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationTypeDecision.HMDecisionType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Application Checks</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionChildFinalCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ApplicationTypeDecision</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ReferFilteronApplicationChildFinalCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Application_Check_Record_Rule2</name>
        <label>Application Check Record Rule2</label>
        <locationX>1106</locationX>
        <locationY>4586</locationY>
        <assignmentItems>
            <assignToReference>ApplicationTypeDecision.HMRuleName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Primary Residence Validation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationTypeDecision.HMSystemDecision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule2Outcome</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationTypeDecision.HMExplanationOfCheck__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule2OutcomeDecisionMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationTypeDecision.HMDecisionDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationTypeDecision.HMDecisionType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Application Checks</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationTypeDecision.HMParentDecision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Parent_Decision_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionChildFinalCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ApplicationTypeDecision</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Application_Check_Record_Rule3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Application_Check_Record_Rule3</name>
        <label>Application Check Record Rule3</label>
        <locationX>1106</locationX>
        <locationY>4694</locationY>
        <assignmentItems>
            <assignToReference>ApplicationTypeDecision.HMRuleName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Remortgage Address vs. Current Address &amp; Armed Forces</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationTypeDecision.HMSystemDecision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule3Outcome</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationTypeDecision.HMExplanationOfCheck__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule3DecisionMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationTypeDecision.HMDecisionDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationTypeDecision.HMDecisionType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Application Checks</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationTypeDecision.HMParentDecision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Parent_Decision_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionChildFinalCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ApplicationTypeDecision</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Application_Check_Record_Rule4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Application_Check_Record_Rule4</name>
        <label>Application Check Record Rule4</label>
        <locationX>1106</locationX>
        <locationY>4802</locationY>
        <assignmentItems>
            <assignToReference>ApplicationTypeDecision.HMRuleName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Private Sale</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationTypeDecision.HMSystemDecision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule4Outcome</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationTypeDecision.HMExplanationOfCheck__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule4DecisionMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationTypeDecision.HMDecisionDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationTypeDecision.HMParentDecision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Parent_Decision_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationTypeDecision.HMDecisionType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Application Checks</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionChildFinalCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ApplicationTypeDecision</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Application_Check_Record_Rule9</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Application Check 9</description>
        <name>Application_Check_Record_Rule9</name>
        <label>Application Check Record Rule9</label>
        <locationX>1106</locationX>
        <locationY>4910</locationY>
        <assignmentItems>
            <assignToReference>ApplicationTypeDecision.HMRuleName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Remortgage Address vs. Current Address &amp; Live in Property = Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationTypeDecision.HMSystemDecision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule9Outcome</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationTypeDecision.HMExplanationOfCheck__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule9DecisionMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationTypeDecision.HMDecisionDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationTypeDecision.HMParentDecision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Parent_Decision_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationTypeDecision.HMDecisionType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Application Checks</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionChildFinalCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ApplicationTypeDecision</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Application_Check_Record_Rule10</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LoopCounter</name>
        <label>LoopCounter</label>
        <locationX>1326</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>AddressCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddressCountDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ParentIdAssignment</name>
        <label>ParentIdAssignment</label>
        <locationX>600</locationX>
        <locationY>6290</locationY>
        <assignmentItems>
            <assignToReference>ApplicationDecisionChildRecordList.HMParentDecision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Parent_Decision_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionChildRecordList.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetHMChecksUiRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionChildFinalRecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ApplicationDecisionChildRecordList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ApplicationDecisionChildRecordList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PostCodeAssignfor1Applicant</name>
        <label>PostCodeAssignFor1Applicant</label>
        <locationX>1194</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>PostCodeApplicant1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoanApplicantAddressLoop.HMPostcode__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoanApplicantAddressLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PostCodeAssignFor2Applicant</name>
        <label>PostCodeAssignFor2Applicant</label>
        <locationX>1458</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>PostCodeApplicant2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoanApplicantAddressLoop.HMPostcode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsSecondApplicantAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoanApplicantAddressLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RecordCountAssignment</name>
        <label>RecordCountAssignment</label>
        <locationX>1106</locationX>
        <locationY>5450</locationY>
        <assignmentItems>
            <assignToReference>RecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ApplicationDecisionChildFinalCollectionFIlter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecordCountDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ReferAssign</name>
        <label>ReferValueAssign</label>
        <locationX>380</locationX>
        <locationY>5774</locationY>
        <assignmentItems>
            <assignToReference>ParentRecordOutcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReferValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetHMChecksUiRecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ReferCountAssignment</name>
        <label>ReferCountAssignment</label>
        <locationX>1106</locationX>
        <locationY>5234</locationY>
        <assignmentItems>
            <assignToReference>ReferCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ReferFilteronApplicationChildFinalCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ApplicationDecisionChildFinalCollectionFIlter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Address_Details</name>
        <label>Reset Address Details</label>
        <locationX>2250</locationX>
        <locationY>2522</locationY>
        <assignmentItems>
            <assignToReference>PostCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Loan_Applicant_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Employment_Details</name>
        <label>Reset Employment Details</label>
        <locationX>2250</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>EmploymentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkPostTown</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsExpectedtoRetireEarly</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OccupationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmployerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Loan_Applicant_Employment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Address_Details</name>
        <label>Set Address Details</label>
        <locationX>2338</locationX>
        <locationY>2846</locationY>
        <assignmentItems>
            <assignToReference>PostCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Loan_Applicant_Address.HMPostcode__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Loan_Applicant_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Employment_Details</name>
        <label>Set Employment Details</label>
        <locationX>2338</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>EmploymentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Loan_Applicant_Employment.HMEmploymentType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkPostTown</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Loan_Applicant_Employment.HMWorkPostTown__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsExpectedtoRetireEarly</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Loan_Applicant_Employment.HMIsExpectedToRetireEarly__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmployerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Loan_Applicant_Employment.EmployerName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OccupationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Loan_Applicant_Employment.HMOccupationType__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Loan_Applicant_Employment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Logger_Variables_for_Create_Child_Application_Decision</name>
        <label>Set Logger Variables for Create Child Application Decision</label>
        <locationX>908</locationX>
        <locationY>6590</locationY>
        <assignmentItems>
            <assignToReference>LoggerWasExceptionThrown</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoggerCustomMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoggerMsgCreateChildApplicationDecision</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoggerFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Logger_Variables_for_Create_Parent_Decision_Record</name>
        <label>Set Logger Variables for Create Parent Decision Record</label>
        <locationX>1172</locationX>
        <locationY>6182</locationY>
        <assignmentItems>
            <assignToReference>LoggerWasExceptionThrown</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoggerCustomMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoggerMsgCreateParentDecisionRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoggerFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Logger_Variables_for_Fetch_Applicant_Records</name>
        <label>Set Logger Variables for Fetch Applicant Records</label>
        <locationX>2338</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>LoggerWasExceptionThrown</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoggerCustomMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoggerMsgFetchLoanApplicantRecords</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoggerFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Logger_Variables_for_Fetch_Loan_Applicant_Address</name>
        <label>Set Logger Variables for Fetch Loan Applicant Address</label>
        <locationX>2866</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>LoggerWasExceptionThrown</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoggerCustomMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoggerMsgFetchLoanApplicantAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoggerFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Logger_Variables_for_Fetch_Loan_Applicant_Employment</name>
        <label>Set Logger Variables for Fetch Loan Applicant Employment</label>
        <locationX>3130</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>LoggerWasExceptionThrown</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoggerCustomMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoggerMsgFetchLoanApplicantEmployment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoggerFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Logger_Variables_for_Fetch_Loan_Application_Property</name>
        <label>Set Logger Variables for Fetch Loan Application Property</label>
        <locationX>2602</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>LoggerWasExceptionThrown</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoggerCustomMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoggerMsgFetchLoanApplicantionProperty</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoggerFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Logger_Variables_for_Fetch_RLA_Records</name>
        <label>Set Logger Variables for Fetch RLA Records</label>
        <locationX>3394</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>LoggerWasExceptionThrown</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoggerCustomMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoggerMsgFetchRLARecords</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoggerFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Logger_Variables_for_GetHMChecksUiRecordType</name>
        <label>Set Logger Variables for GetHMChecksUiRecordType</label>
        <locationX>1436</locationX>
        <locationY>6074</locationY>
        <assignmentItems>
            <assignToReference>LoggerWasExceptionThrown</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoggerCustomMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoggerMsgGetHMChecksUiRecordType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoggerFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Logger_Variables_for_Homes_App_Check_Remortgage</name>
        <label>Set Logger Variables for Homes App Check Remortgage</label>
        <locationX>314</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>LoggerWasExceptionThrown</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoggerCustomMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoggerMsgHomesAppCheckRemortgageAction</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoggerFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Logger_Variables_for_HomesApplicantChecksFTBAction</name>
        <label>Set Logger Variables for HomesApplicantChecksFTBAction</label>
        <locationX>1986</locationX>
        <locationY>3338</locationY>
        <assignmentItems>
            <assignToReference>LoggerWasExceptionThrown</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoggerCustomMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoggerMsgHomesAppChecksFTBAction2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoggerFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Logger_Variables_for_HomesApplicantChecksPOMFAction</name>
        <label>Set Logger Variables for HomesApplicantChecksPOMFAction</label>
        <locationX>3042</locationX>
        <locationY>3338</locationY>
        <assignmentItems>
            <assignToReference>LoggerWasExceptionThrown</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoggerCustomMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoggerMsgHomesAppChecksPOMFAction2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoggerFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Logger_Variables_for_HomesApplicantChecksRemortgageAction</name>
        <label>Set Logger Variables for HomesApplicantChecksRemortgageAction</label>
        <locationX>1458</locationX>
        <locationY>3338</locationY>
        <assignmentItems>
            <assignToReference>LoggerWasExceptionThrown</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoggerCustomMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoggerMsgHomesAppChecksRemortgageAction2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoggerFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Logger_Variables_for_HomesApplicantChecksSwitcherAction</name>
        <label>Set Logger Variables for HomesApplicantChecksSwitcherAction</label>
        <locationX>2514</locationX>
        <locationY>3338</locationY>
        <assignmentItems>
            <assignToReference>LoggerWasExceptionThrown</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoggerCustomMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoggerMsgHomesAppChecksSwitcherAction2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoggerFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Logger_Variables_for_HomesApplicationCheckFTBAction</name>
        <label>Set Logger Variables for HomesApplicationCheckFTBAction</label>
        <locationX>842</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>LoggerWasExceptionThrown</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoggerCustomMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoggerMsgHomesAppCheckFTBAction</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoggerFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Logger_Variables_for_HomesApplicationCheckPOMFAction</name>
        <label>Set Logger Variables for HomesApplicationCheckPOMFAction</label>
        <locationX>1898</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>LoggerWasExceptionThrown</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoggerCustomMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LoggerMsgHomesAppCheckPOMFActionLoggerMsgHomesAppCheckPOMFAction</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoggerFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Logger_Variables_for_HomesApplicationCheckSwitcherAction</name>
        <label>Set Logger Variables for HomesApplicationCheckSwitcherAction</label>
        <locationX>1370</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>LoggerWasExceptionThrown</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoggerCustomMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoggerMsgHomesAppCheckSwitcherAction</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoggerFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Parent_Record_Outcome</name>
        <label>Set Parent Record Outcome</label>
        <locationX>2118</locationX>
        <locationY>4310</locationY>
        <assignmentItems>
            <assignToReference>ParentRecordOutcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AcceptValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Applicant_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Parent_Record_Outcome_Refer</name>
        <label>Set Parent Record Outcome - Refer</label>
        <locationX>2382</locationX>
        <locationY>4310</locationY>
        <assignmentItems>
            <assignToReference>ParentRecordOutcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReferValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Applicant_Records</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>ApplicationDecisionChildFinalCollectionFIlter</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>ApplicationDecisionChildFinalCollectionFilter</label>
        <locationX>1106</locationX>
        <locationY>5342</locationY>
        <assignNextValueToReference>currentItem_ApplicationDecisionChildFinalCollectionFIlter</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>ApplicationDecisionChildFinalCollection</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_ApplicationDecisionChildFinalCollectionFIlter.HMSystemDecision__c</leftValueReference>
            <operator>NotEqualTo</operator>
        </conditions>
        <connector>
            <targetReference>RecordCountAssignment</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <description>Doing filter on all the child record to check is there any Refer record exist or not</description>
        <name>ReferFilteronApplicationChildFinalCollection</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>ReferFilteronApplicationChildFinalCollection</label>
        <locationX>1106</locationX>
        <locationY>5126</locationY>
        <assignNextValueToReference>currentItem_ReferFilteronApplicationChildFinalCollection</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>ApplicationDecisionChildFinalCollection</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_ReferFilteronApplicationChildFinalCollection.HMSystemDecision__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>ReferValue</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>ReferCountAssignment</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <name>AcceptValue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Pass</stringValue>
        </value>
    </constants>
    <constants>
        <name>HMAppDecisionObjectName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>HMAppDecision__c</stringValue>
        </value>
    </constants>
    <constants>
        <description>HMChecksUi RecordType API name in Application Decision Object</description>
        <name>HMChecksUiRecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>HMChecksUi</stringValue>
        </value>
    </constants>
    <constants>
        <name>LoggerMsgCreateChildApplicationDecision</name>
        <dataType>String</dataType>
        <value>
            <stringValue>FL001HomesCreateAppCheckRecords - Exception creating child Application Decision records</stringValue>
        </value>
    </constants>
    <constants>
        <name>LoggerMsgCreateParentDecisionRecord</name>
        <dataType>String</dataType>
        <value>
            <stringValue>FL001HomesCreateAppCheckRecords - Exception on Create Parent Decision Record</stringValue>
        </value>
    </constants>
    <constants>
        <name>LoggerMsgFetchLoanApplicantAddress</name>
        <dataType>String</dataType>
        <value>
            <stringValue>FL001HomesCreateAppCheckRecords - Exception fetching Loan Applicant Address records</stringValue>
        </value>
    </constants>
    <constants>
        <name>LoggerMsgFetchLoanApplicantEmployment</name>
        <dataType>String</dataType>
        <value>
            <stringValue>FL001HomesCreateAppCheckRecords - Exception fetching Loan Applicant Employment records</stringValue>
        </value>
    </constants>
    <constants>
        <name>LoggerMsgFetchLoanApplicantionProperty</name>
        <dataType>String</dataType>
        <value>
            <stringValue>FL001HomesCreateAppCheckRecords - Exception fetching Loan Application Property records</stringValue>
        </value>
    </constants>
    <constants>
        <name>LoggerMsgFetchLoanApplicantRecords</name>
        <dataType>String</dataType>
        <value>
            <stringValue>FL001HomesCreateAppCheckRecords - Exception fetching Loan Applicant records</stringValue>
        </value>
    </constants>
    <constants>
        <name>LoggerMsgFetchRLARecords</name>
        <dataType>String</dataType>
        <value>
            <stringValue>FL001HomesCreateAppCheckRecords - Exception fetching Mortgage Application records</stringValue>
        </value>
    </constants>
    <constants>
        <name>LoggerMsgGetHMChecksUiRecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>FL001HomesCreateAppCheckRecords - Exception fetching Application Decision Record Type</stringValue>
        </value>
    </constants>
    <constants>
        <name>LoggerMsgHomesAppCheckFTBAction</name>
        <dataType>String</dataType>
        <value>
            <stringValue>FL001HomesCreateAppCheckRecords - Exception on HomesApplicationCheckFTBAction</stringValue>
        </value>
    </constants>
    <constants>
        <name>LoggerMsgHomesAppCheckPOMFAction</name>
        <dataType>String</dataType>
        <value>
            <stringValue>FL001HomesCreateAppCheckRecords - Exception on HomesApplicationCheckPOMFAction</stringValue>
        </value>
    </constants>
    <constants>
        <name>LoggerMsgHomesAppCheckRemortgageAction</name>
        <dataType>String</dataType>
        <value>
            <stringValue>FL001HomesCreateAppCheckRecords - Exception on HomesApplicationCheckRemortgageAction</stringValue>
        </value>
    </constants>
    <constants>
        <name>LoggerMsgHomesAppChecksFTBAction2</name>
        <dataType>String</dataType>
        <value>
            <stringValue>FL001HomesCreateAppCheckRecords - Exception on HomesApplicantChecksFTBAction (second)</stringValue>
        </value>
    </constants>
    <constants>
        <name>LoggerMsgHomesAppChecksPOMFAction2</name>
        <dataType>String</dataType>
        <value>
            <stringValue>FL001HomesCreateAppCheckRecords - Exception on HomesApplicantChecksPOMFAction (second)</stringValue>
        </value>
    </constants>
    <constants>
        <name>LoggerMsgHomesAppChecksRemortgageAction2</name>
        <dataType>String</dataType>
        <value>
            <stringValue>FL001HomesCreateAppCheckRecords - Exception on HomesApplicantChecksRemortgageAction (second)</stringValue>
        </value>
    </constants>
    <constants>
        <name>LoggerMsgHomesAppChecksSwitcherAction2</name>
        <dataType>String</dataType>
        <value>
            <stringValue> FL001HomesCreateAppCheckRecords - Exception on HomesApplicantChecksSwitcherAction (second)</stringValue>
        </value>
    </constants>
    <constants>
        <name>LoggerMsgHomesAppCheckSwitcherAction</name>
        <dataType>String</dataType>
        <value>
            <stringValue>FL001HomesCreateAppCheckRecords - Exception on HomesApplicationCheckSwitcherAction</stringValue>
        </value>
    </constants>
    <constants>
        <name>ReferValue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Fail</stringValue>
        </value>
    </constants>
    <constants>
        <name>todelete</name>
        <dataType>String</dataType>
        <value>
            <stringValue>deleteField</stringValue>
        </value>
    </constants>
    <decisions>
        <name>AddressCountDecision</name>
        <label>AddressCountDecision</label>
        <locationX>1326</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>PostCodeAssignFor2Applicant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CountOne</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddressCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PostCodeAssignfor1Applicant</targetReference>
            </connector>
            <label>CountOne</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionApplicantBasedOnApplicantionType</name>
        <label>DecisionApplicantBasedOnApplicantionType</label>
        <locationX>2250</locationX>
        <locationY>3122</locationY>
        <defaultConnector>
            <targetReference>Applicant_Check_Rule_1_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>REMORTGAGE_Applicant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_RLA_Records.HMApplicationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>REMORTGAGE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HomesApplicantChecksRemortgageAction</targetReference>
            </connector>
            <label>REMORTGAGE</label>
        </rules>
        <rules>
            <name>FIRST_TIME_BUYER_Applicant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_RLA_Records.HMApplicationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FIRST_TIME_BUYER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HomesApplicantChecksFTBAction</targetReference>
            </connector>
            <label>FIRST_TIME_BUYER</label>
        </rules>
        <rules>
            <name>SWITCHER_Applicant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_RLA_Records.HMApplicationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SWITCHER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HomesApplicantChecksSwitcherAction</targetReference>
            </connector>
            <label>SWITCHER</label>
        </rules>
        <rules>
            <name>PROPERTY_OWNED_MORTGAGE_FREE_Applicant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_RLA_Records.HMApplicationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PROPERTY_OWNED_MORTGAGE_FREE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HomesApplicantChecksPOMFAction</targetReference>
            </connector>
            <label>PROPERTY_OWNED_MORTGAGE_FREE</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionApplicationType</name>
        <label>DecisionApplicationType</label>
        <locationX>1106</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>Iterate_Applicant_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>REMORTGAGE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_RLA_Records.HMApplicationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>REMORTGAGE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HomesApplicationCheckRemortgageAction</targetReference>
            </connector>
            <label>REMORTGAGE</label>
        </rules>
        <rules>
            <name>FIRST_TIME_BUYER</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_RLA_Records.HMApplicationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FIRST_TIME_BUYER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HomesApplicationCheckFTBAction</targetReference>
            </connector>
            <label>FIRST_TIME_BUYER</label>
        </rules>
        <rules>
            <name>SWITCHER</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_RLA_Records.HMApplicationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SWITCHER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HomesApplicationCheckSwitcherAction</targetReference>
            </connector>
            <label>SWITCHER</label>
        </rules>
        <rules>
            <name>PROPERTY_OWNED_MORTGAGE_FREE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_RLA_Records.HMApplicationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PROPERTY_OWNED_MORTGAGE_FREE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HomesApplicationCheckPOMFAction</targetReference>
            </connector>
            <label>PROPERTY_OWNED_MORTGAGE_FREE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Map_Applicant_Records_to_Related_Address_Records</name>
        <label>Map Applicant Records to Related Address Records</label>
        <locationX>2470</locationX>
        <locationY>2738</locationY>
        <defaultConnector>
            <targetReference>Iterate_Loan_Applicant_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Address_Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Applicant_Records.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_Loan_Applicant_Address.LoanApplicant.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Address_Details</targetReference>
            </connector>
            <label>Address Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Match_Applicant_records_to_related_Employment_records</name>
        <label>Match Applicant records to related Employment records</label>
        <locationX>2470</locationX>
        <locationY>2138</locationY>
        <defaultConnector>
            <targetReference>Iterate_Loan_Applicant_Employment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Employment_Record_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_Applicant_Records.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_Loan_Applicant_Employment.LoanApplicant.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Employment_Details</targetReference>
            </connector>
            <label>Employment Record found</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordCountDecision</name>
        <label>RecordCountDecision</label>
        <locationX>1106</locationX>
        <locationY>5558</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RecordCountSize</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReferRecordDecision</targetReference>
            </connector>
            <label>RecordCountSize</label>
        </rules>
    </decisions>
    <decisions>
        <name>ReferRecordDecision</name>
        <label>ReferRecordDecision</label>
        <locationX>512</locationX>
        <locationY>5666</locationY>
        <defaultConnector>
            <targetReference>AcceptValueAssign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ReferRecordSize</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReferCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReferAssign</targetReference>
            </connector>
            <label>ReferRecordSize</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Decision_Outcome</name>
        <label>Verify Decision Outcome</label>
        <locationX>2250</locationX>
        <locationY>4202</locationY>
        <defaultConnector>
            <targetReference>Set_Parent_Record_Outcome_Refer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Verify_Decision_Outcome_Accept</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Rule1Outcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AcceptValue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Rule2Outcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AcceptValue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ParentRecordOutcome</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>ReferValue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Rule6Outcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AcceptValue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Rule4Outcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AcceptValue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Rule5Outcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AcceptValue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Rule7Outcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AcceptValue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Rule8Outcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AcceptValue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Rule3Outcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AcceptValue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Rule9Outcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AcceptValue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Rule10Outcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AcceptValue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Rule3OutcomeApplication</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AcceptValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Parent_Record_Outcome</targetReference>
            </connector>
            <label>Verify Decision Outcome Accept</label>
        </rules>
    </decisions>
    <description>FL001-Homes-Create App-Check Records : This Flow is used to create Application Decision records based on the Conditions of BRE , when user clicks on button on Residential Loan Application record.</description>
    <environments>Default</environments>
    <interviewLabel>FL001-Homes-Create App Check Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL001-Homes-Create App Check Records</label>
    <loops>
        <name>ApplicationDecisionChildRecordList</name>
        <label>ApplicationDecisionChildRecordList</label>
        <locationX>512</locationX>
        <locationY>6182</locationY>
        <collectionReference>ApplicationDecisionChildFinalCollectionFIlter</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ParentIdAssignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Child_Application_Decision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Applicant_Records</name>
        <label>Iterate Applicant Records</label>
        <locationX>1106</locationX>
        <locationY>1814</locationY>
        <collectionReference>Fetch_Applicant_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reset_Employment_Details</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Application_Check_Record_Rule2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Loan_Applicant_Address</name>
        <label>Iterate Loan Applicant Address</label>
        <locationX>2250</locationX>
        <locationY>2630</locationY>
        <collectionReference>Fetch_Loan_Applicant_Address</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Map_Applicant_Records_to_Related_Address_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DecisionApplicantBasedOnApplicantionType</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Loan_Applicant_Employment</name>
        <label>Iterate Loan Applicant Employment</label>
        <locationX>2250</locationX>
        <locationY>2030</locationY>
        <collectionReference>Fetch_Loan_Applicant_Employment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Match_Applicant_records_to_related_Employment_records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Reset_Address_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoanApplicantAddressLoop</name>
        <label>LoanApplicantAddressLoop</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <collectionReference>Fetch_Loan_Applicant_Address</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>LoopCounter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DecisionApplicationType</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Child_Application_Decision</name>
        <label>Create Child Application Decision</label>
        <locationX>512</locationX>
        <locationY>6482</locationY>
        <faultConnector>
            <targetReference>Set_Logger_Variables_for_Create_Child_Application_Decision</targetReference>
        </faultConnector>
        <inputReference>ApplicationDecisionChildFinalRecordList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Parent_Decision_Record</name>
        <label>Create Parent Decision Record</label>
        <locationX>512</locationX>
        <locationY>6074</locationY>
        <connector>
            <targetReference>ApplicationDecisionChildRecordList</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Logger_Variables_for_Create_Parent_Decision_Record</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>HMDecisionDateTime__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HMDecisionType__c</field>
            <value>
                <stringValue>Application Checks</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HMResidentialLoanApplication__c</field>
            <value>
                <elementReference>ResidentialLoanApplicationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HMSystemDecision__c</field>
            <value>
                <elementReference>ParentRecordOutcome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HMUserOutcomeReason__c</field>
            <value>
                <elementReference>todelete</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetHMChecksUiRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <object>HMAppDecision__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Fetch_Applicant_Records</name>
        <label>Fetch Applicant Records</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoanApplicantAddressLoop</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Logger_Variables_for_Fetch_Applicant_Records</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ResidentialLoanApplicationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoanApplicant</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Loan_Applicant_Address</name>
        <label>Fetch Loan Applicant Address</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Loan_Application_Property</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Logger_Variables_for_Fetch_Loan_Applicant_Address</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ResidentialLoanApplicationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LoanApplicantId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoanApplicantAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Loan_Applicant_Employment</name>
        <label>Fetch Loan Applicant Employment</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Loan_Applicant_Address</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Logger_Variables_for_Fetch_Loan_Applicant_Employment</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ResidentialLoanApplicationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LoanApplicantId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoanApplicantEmployment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Loan_Application_Property</name>
        <label>Fetch Loan Application Property</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Applicant_Records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Logger_Variables_for_Fetch_Loan_Application_Property</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanApplicationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ResidentialLoanApplicationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoanApplicationProperty</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_RLA_Records</name>
        <label>Fetch RLA Records</label>
        <locationX>1106</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Loan_Applicant_Employment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Logger_Variables_for_Fetch_RLA_Records</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ResidentialLoanApplicationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResidentialLoanApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetHMChecksUiRecordType</name>
        <label>GetHMChecksUiRecordType</label>
        <locationX>512</locationX>
        <locationY>5966</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Parent_Decision_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Logger_Variables_for_GetHMChecksUiRecordType</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HMAppDecisionObjectName</elementReference>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HMChecksUiRecordType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fetch_RLA_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AddressCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ApplicationDecisionChildFinalCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HMAppDecision__c</objectType>
    </variables>
    <variables>
        <name>ApplicationDecisionChildFinalRecordList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HMAppDecision__c</objectType>
    </variables>
    <variables>
        <name>ApplicationDecisionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HMAppDecision__c</objectType>
    </variables>
    <variables>
        <name>ApplicationTypeDecision</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HMAppDecision__c</objectType>
    </variables>
    <variables>
        <name>currentItem_ApplicationDecisionChildFinalCollectionFIlter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HMAppDecision__c</objectType>
    </variables>
    <variables>
        <name>currentItem_ReferFilteronApplicationChildFinalCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HMAppDecision__c</objectType>
    </variables>
    <variables>
        <name>EmployerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmploymentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IsExpectedtoRetireEarly</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsSecondApplicantAddress</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LoggerCustomMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoggerFaultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoggerWasExceptionThrown</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>OccupationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentRecordOutcome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PostCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PostCodeApplicant1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PostCodeApplicant2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ReferCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ResidentialLoanApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Rule10DecisionMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Rule10Outcome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Rule1Outcome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Rule1OutcomeDecisionMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Rule2Outcome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Rule2OutcomeDecisionMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Rule3DecisionMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Rule3Outcome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Rule3OutcomeApplication</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Rule4DecisionMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Rule4Outcome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Rule5DecisionMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Rule5Outcome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Rule6DecisionMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Rule6Outcome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Rule7DecisionMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Rule7Outcome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Rule8DecisionMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Rule8Outcome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Rule9DecisionMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Rule9Outcome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkPostTown</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
