src/decision-centre/main/default/flows/FL003HomesCreateHealthCheckRecords.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Application_Expression_Set</name>
        <label>Application Expression Set</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <actionName>HomesApplicationBasedHealthCheck</actionName>
        <actionType>runExpressionSet</actionType>
        <connector>
            <targetReference>Health_Check_Record_Rule1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Logger_Variables_for_Application_Expression_Set</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>DecisionDateTime</name>
            <value>
                <elementReference>Fetch_Application_Decisions_Record.HMDecisionDateTime__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ValuationSurveyId</name>
            <value>
                <elementReference>Fetch_Valuation_Record.HMSurveyID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ValuationStatus</name>
            <value>
                <elementReference>Fetch_Valuation_Record.HMValuationStatus__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>HomesApplicationBasedHealthCheck</nameSegment>
        <outputParameters>
            <assignToReference>Rule1DecisionMessage</assignToReference>
            <name>Rule1DecisionMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule2Outcome</assignToReference>
            <name>Rule2Outcome</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule2DecisionMessage</assignToReference>
            <name>Rule2DecisionMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>Rule1Outcome</assignToReference>
            <name>Rule1Outcome</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Accept_Value</name>
        <label>Accept Value</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>SystemDecisionValueForParentRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pass</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parent_Record_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignRecordTypeId</name>
        <label>AssignRecordTypeId</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>ChecksUIRecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_checks_RecordTypeId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetch_Valuation_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Filter_Record_Count_Assignment</name>
        <label>Filter Record Count Assignment</label>
        <locationX>182</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>RecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>FilterRefferRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_For_Accept_Refer_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Health_Check_Record_Rule1</name>
        <label>Health Check Record Rule1</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>ApplicationDecisionRecord.HMRuleName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Risk Call 2 Validity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionRecord.HMSystemDecision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule1Outcome</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionRecord.HMExplanationOfCheck__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule1DecisionMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionRecord.HMDecisionDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionRecord.HMDecisionType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Health Checks</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionRecord.HMParentDecision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Parent_Application_Decision_Records</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionRecordsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ApplicationDecisionRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChecksUIRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Health_Check_Record_Rule2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Health_Check_Record_Rule2</name>
        <label>Health Check Record Rule2</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>ApplicationDecisionRecord.HMRuleName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Valuation Instructed </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionRecord.HMSystemDecision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule2Outcome</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionRecord.HMExplanationOfCheck__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rule2DecisionMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionRecord.HMDecisionDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionRecord.HMDecisionType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Health Checks</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionRecord.HMParentDecision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Parent_Application_Decision_Records</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionRecordsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ApplicationDecisionRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChecksUIRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FilterRefferRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Parent_Id_Assignment</name>
        <label>Parent Id Assignment</label>
        <locationX>270</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>Loop_On_Application_Decision_Record_For_Child.HMParentDecision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApplicationDecisionObjParent.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionChildList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_On_Application_Decision_Record_For_Child</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Application_Decision_Record_For_Child</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Parent_Record_Assignment</name>
        <label>Parent Record Assignment</label>
        <locationX>182</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>ApplicationDecisionObjParent.HMDecisionDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionObjParent.HMDecisionType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Health Checks</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionObjParent.HMResidentialLoanApplication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResidentialLoanApplicationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionObjParent.HMSystemDecision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SystemDecisionValueForParentRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApplicationDecisionObjParent.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChecksUIRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Parent_Application_Decision_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Refer_Value</name>
        <label>Refer Value</label>
        <locationX>314</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>SystemDecisionValueForParentRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fail</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parent_Record_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Logger_Variables_for_Application_Expression_Set</name>
        <label>Set Logger Variables for Application Expression Set</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>LoggerWasExceptionThrown</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoggerCustomMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoggerMsgApplicationExpressionSet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoggerFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Logger_Variables_for_Create_Child_Application_Decision_Records</name>
        <label>Set Logger Variables for Create Child Application Decision Records</label>
        <locationX>578</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>LoggerWasExceptionThrown</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoggerCustomMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoggerMsgCreateChildApplicationDecisionRecords</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoggerFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Logger_Variables_for_Create_Parent_Application_Decision_Records</name>
        <label>Set Logger Variables for Create Parent Application Decision Records</label>
        <locationX>842</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>LoggerWasExceptionThrown</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoggerCustomMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoggerMsgCreateParentApplicationDecisionRecords</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoggerFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Logger_Variables_for_Fetch_Application_Decisions_Record</name>
        <label>Set Logger Variables for Fetch Application Decisions Record</label>
        <locationX>1370</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>LoggerWasExceptionThrown</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoggerFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoggerCustomMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoggerMsgFetchApplicationDecisionsRecord</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Logger_Variables_For_Fetch_RLA_Records</name>
        <label>Set Logger Variables For Fetch RLA Records</label>
        <locationX>2162</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>LoggerWasExceptionThrown</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoggerCustomMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoggerMsgFetchRLARecords</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoggerFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Logger_Variables_for_Fetch_Valuation_Record</name>
        <label>Set Logger Variables for Fetch Valuation Record</label>
        <locationX>1634</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>LoggerWasExceptionThrown</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoggerCustomMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoggerMsgFetchValuationRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoggerFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Logger_Variables_for_Get_checks_RecordTypeId</name>
        <label>Set Logger Variables for Get checks RecordTypeId</label>
        <locationX>1898</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>LoggerWasExceptionThrown</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoggerCustomMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoggerMsgGetChecksRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoggerFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <collectionProcessors>
        <name>FilterRefferRecords</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Refer Records</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <assignNextValueToReference>currentItem_FilterRefferRecords</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>ApplicationDecisionRecordsCollection</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_FilterRefferRecords.HMSystemDecision__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Fail</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Filter_Record_Count_Assignment</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <name>HMAppDecisionObjectName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>HMAppDecision__c</stringValue>
        </value>
    </constants>
    <constants>
        <name>LoggerMsgApplicationExpressionSet</name>
        <dataType>String</dataType>
        <value>
            <stringValue>FL003HomesCreateHealthCheckRecords - Exception on Application Expression Set</stringValue>
        </value>
    </constants>
    <constants>
        <name>LoggerMsgCreateChildApplicationDecisionRecords</name>
        <dataType>String</dataType>
        <value>
            <stringValue>FL003HomesCreateHealthCheckRecords - Exception on Create Child Application Decision Records</stringValue>
        </value>
    </constants>
    <constants>
        <name>LoggerMsgCreateParentApplicationDecisionRecords</name>
        <dataType>String</dataType>
        <value>
            <stringValue>FL003HomesCreateHealthCheckRecords - Exception on Create Parent Application Decision Records</stringValue>
        </value>
    </constants>
    <constants>
        <name>LoggerMsgFetchApplicationDecisionsRecord</name>
        <dataType>String</dataType>
        <value>
            <stringValue>FL003HomesCreateHealthCheckRecords - Exception on Fetch Application Decisions Record</stringValue>
        </value>
    </constants>
    <constants>
        <name>LoggerMsgFetchRLARecords</name>
        <dataType>String</dataType>
        <value>
            <stringValue>FL003HomesCreateHealthCheckRecords - Exception fetching Mortgage Application records</stringValue>
        </value>
    </constants>
    <constants>
        <name>LoggerMsgFetchValuationRecord</name>
        <dataType>String</dataType>
        <value>
            <stringValue>FL003HomesCreateHealthCheckRecords - Exception on Fetch Valuation Record</stringValue>
        </value>
    </constants>
    <constants>
        <name>LoggerMsgGetChecksRecordTypeId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>FL003HomesCreateHealthCheckRecords - Exception on Get checks RecordTypeId</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Decision_For_Accept_Refer_Value</name>
        <label>Decision For Accept Refer Value</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Refer_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Count_Zero_for_Accept</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Accept_Value</targetReference>
            </connector>
            <label>Record Count Zero for Accept</label>
        </rules>
    </decisions>
    <description>FL003-Homes-Create Health Check Records :  This flow creates the Application Decision records based on BRE and when run using the button on Residential Loan Application</description>
    <environments>Default</environments>
    <interviewLabel>FL003-Homes-Create Health Check Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL003-Homes-Create Health Check Records</label>
    <loops>
        <name>Loop_On_Application_Decision_Record_For_Child</name>
        <label>Loop On Application Decision Record For Child</label>
        <locationX>182</locationX>
        <locationY>1730</locationY>
        <collectionReference>ApplicationDecisionRecordsCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Parent_Id_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Child_Application_Decision_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Child_Application_Decision_Records</name>
        <label>Create Child Application Decision Records</label>
        <locationX>182</locationX>
        <locationY>2030</locationY>
        <faultConnector>
            <targetReference>Set_Logger_Variables_for_Create_Child_Application_Decision_Records</targetReference>
        </faultConnector>
        <inputReference>ApplicationDecisionChildList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Parent_Application_Decision_Records</name>
        <label>Create Parent Application Decision Records</label>
        <locationX>182</locationX>
        <locationY>1622</locationY>
        <connector>
            <targetReference>Loop_On_Application_Decision_Record_For_Child</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Logger_Variables_for_Create_Parent_Application_Decision_Records</targetReference>
        </faultConnector>
        <inputReference>ApplicationDecisionObjParent</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Fetch_Application_Decisions_Record</name>
        <label>Fetch Application Decisions Record</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Application_Expression_Set</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Logger_Variables_for_Fetch_Application_Decisions_Record</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HMDecisionType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RiskCall2Fma</stringValue>
            </value>
        </filters>
        <filters>
            <field>HMResidentialLoanApplication__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ResidentialLoanApplicationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HMAppDecision__c</object>
        <sortField>HMDecisionDateTime__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_RLA_Records</name>
        <label>Fetch RLA Records</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_checks_RecordTypeId</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Logger_Variables_For_Fetch_RLA_Records</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ResidentialLoanApplicationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResidentialLoanApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Valuation_Record</name>
        <label>Fetch Valuation Record</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Application_Decisions_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Logger_Variables_for_Fetch_Valuation_Record</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HMMortgageApplication__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ResidentialLoanApplicationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HMValuation__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_checks_RecordTypeId</name>
        <label>Get checks RecordTypeId</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignRecordTypeId</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Logger_Variables_for_Get_checks_RecordTypeId</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HMChecksUi</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HMAppDecisionObjectName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fetch_RLA_Records</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ApplicationDecisionChildList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HMAppDecision__c</objectType>
    </variables>
    <variables>
        <name>ApplicationDecisionObjParent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HMAppDecision__c</objectType>
    </variables>
    <variables>
        <name>ApplicationDecisionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HMAppDecision__c</objectType>
    </variables>
    <variables>
        <name>ApplicationDecisionRecordsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HMAppDecision__c</objectType>
    </variables>
    <variables>
        <name>ChecksUIRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_checks_RecordTypeId.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>currentItem_f1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HMAppDecision__c</objectType>
    </variables>
    <variables>
        <name>currentItem_FilterRefferRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HMAppDecision__c</objectType>
    </variables>
    <variables>
        <name>LoggerCustomMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoggerFaultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoggerWasExceptionThrown</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>RecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ResidentialLoanApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Rule1DecisionMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Rule1Outcome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Rule2DecisionMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Rule2Outcome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SystemDecisionValueForParentRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
