src/decision-centre/main/default/flows/FL003HomesHealthCheckScreenFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <constants>
        <name>DecisionCentre</name>
        <dataType>String</dataType>
        <value>
            <stringValue>decision-centre</stringValue>
        </value>
    </constants>
    <constants>
        <name>Error</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ERROR</stringValue>
        </value>
    </constants>
    <constants>
        <name>FlowApiName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>FL003HomesHealthCheckScreenFlow</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_If_Yes_Confirmation</name>
        <label>Check If Yes Confirmation</label>
        <locationX>336</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Confirmation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConfirmationValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RunHealthCheck</targetReference>
            </connector>
            <label>Yes Confirmation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_subflow_had_error</name>
        <label>Did subflow had error?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RunHealthCheck.LoggerWasExceptionThrown</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exception_Logging_for_errors_on_subflow</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>FL003-Homes-Health Check Screen Flow : Launches the Health Checks record CreationFlow</description>
    <environments>Default</environments>
    <interviewLabel>FL003-Homes-Health Check Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL003-Homes-Health Check Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>336</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_If_Yes_Confirmation</targetReference>
        </connector>
        <fields>
            <name>ConfirmationDialogue</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Are you sure you wish to proceed?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirmation_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirmation_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NoConfirmation</name>
                    <extensionName>runtime_industries_lending:flowButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>buttonLabel</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>renderNext</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>YesConfirmation</name>
                    <extensionName>runtime_industries_lending:flowButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>buttonLabel</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>renderNext</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>ConfirmationValue</assignToReference>
                        <name>renderNext</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Exception_Logging_for_errors_on_subflow</name>
        <label>Exception Logging for errors on subflow</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <flowName>FL010HomesExceptionLoggingScreenFlow</flowName>
        <inputAssignments>
            <name>ExceptionTags</name>
            <value>
                <elementReference>DecisionCentre</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowAPIName</name>
            <value>
                <elementReference>FlowApiName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowFaultErrorMessage</name>
            <value>
                <elementReference>RunHealthCheck.LoggerFaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LogEntryCustomMessage</name>
            <value>
                <elementReference>RunHealthCheck.LoggerCustomMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LoggingLevel</name>
            <value>
                <elementReference>Error</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>RunHealthCheck</name>
        <label>Run Health Check</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Did_subflow_had_error</targetReference>
        </connector>
        <flowName>FL003HomesCreateHealthCheckRecords</flowName>
        <inputAssignments>
            <name>ResidentialLoanApplicationId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>ConfirmationValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
