src/decision-centre/main/default/flows/FL006HomesMortgageApplicationFlowOrchestration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <description>FL006-Homes-Mortgage Application Flow Orchestration : This flow Orchestration is used to handle the all process of Mortgage Application</description>
    <environments>Default</environments>
    <interviewLabel>FL006-Homes-Mortgage Application Flow Orchestration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL006-Homes-Mortgage Application Flow Orchestration</label>
    <orchestratedStages>
        <name>VerifyApplicationStageToCallAppCheck</name>
        <label>Verify Application Stage To Call App Check</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <exitConditions>
            <leftValueReference>$Record.HMStage__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>FMA</stringValue>
            </rightValue>
        </exitConditions>
        <exitConditions>
            <leftValueReference>$Record.HMStatus__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Accepted</stringValue>
            </rightValue>
        </exitConditions>
        <stageSteps>
            <name>CallAppCheck</name>
            <actionName>FL001HomesCreateAppCheckRecords</actionName>
            <actionType>stepBackground</actionType>
            <entryActionInputParameters>
                <name>ResidentialLoanApplicationId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </entryActionInputParameters>
            <entryActionName>FL006HomesAppChecksEvaluationFlow</entryActionName>
            <entryActionType>evaluationFlow</entryActionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>ResidentialLoanApplicationId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Call App Check</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>VerifyApplicationStageToInstructValuation</name>
        <label>Verify Application Stage To Instruct Valuation</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <connector>
            <targetReference>VerifyApplicationStageToCallAppCheck</targetReference>
        </connector>
        <exitConditionLogic>1 AND (2 OR 3)</exitConditionLogic>
        <exitConditions>
            <leftValueReference>$Record.HMStage__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>FMA</stringValue>
            </rightValue>
        </exitConditions>
        <exitConditions>
            <leftValueReference>$Record.HMStatus__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Conditionally Accepted</stringValue>
            </rightValue>
        </exitConditions>
        <exitConditions>
            <leftValueReference>$Record.HMStatus__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Accepted</stringValue>
            </rightValue>
        </exitConditions>
        <stageSteps>
            <name>InstructValuationAPI</name>
            <actionName>FL006HomesCreateValuationRecord</actionName>
            <actionType>stepBackground</actionType>
            <entryActionInputParameters>
                <name>ResidentialLoanApplicationId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </entryActionInputParameters>
            <entryActionName>FL006HomesValuationEvaluationFlow</entryActionName>
            <entryActionType>evaluationFlow</entryActionType>
            <entryConditionLogic>and</entryConditionLogic>
            <exitConditionLogic>and</exitConditionLogic>
            <inputParameters>
                <name>ResidentialLoanApplicationId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Instruct Valuation API</label>
            <requiresAsyncProcessing>false</requiresAsyncProcessing>
            <runAsUser>false</runAsUser>
            <stepSubtype>BackgroundStep</stepSubtype>
        </stageSteps>
    </orchestratedStages>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Orchestrator</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>VerifyApplicationStageToInstructValuation</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>HMStage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FMA</stringValue>
            </value>
        </filters>
        <filters>
            <field>HMStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </filters>
        <filters>
            <field>HMStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Conditionally Accepted</stringValue>
            </value>
        </filters>
        <object>ResidentialLoanApplication</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
