src/decision-centre/main/default/flows/FL009HomesTripCaseScreenFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>AssignCustomErrorMessageOnRetrievingApplication</name>
        <label>AssignCustomErrorMessageOnRetrievingApplication</label>
        <locationX>1370</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>ExceptionCustomMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExceptionLoggingOnRetrievingMortgageApplication</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ExceptionLogging</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignDefaultNLAValue</name>
        <label>Assign Default NLA Value</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>DefaultNLALevelValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FetchMortgageApplicationRecord.HMNLALevel__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCaseNLA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigningCustomMessageOnApplicationUpdate</name>
        <label>AssigningCustomMessageOnApplicationUpdate</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>ExceptionCustomMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExceptionLoggingOnApplicationUpdationErrorMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ExceptionLogging</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSelectedPicklistValue</name>
        <label>Assign Selected Picklist Value</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>SelectedNLAPicklistValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NLALevelPicklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FetchMortgageApplicationRecord.HMNLALevel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NLALevelPicklist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NLALevelValidation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ErrorMessageForHigherNLALevel</name>
        <label>Error Message For Higher NLA Level</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessageForHigherNLA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>UpdateCaseNLA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ErrorMessageForLowerNLALevel</name>
        <label>Error Message For Lower NLA Level</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessageForLowerNLA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>UpdateCaseNLA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ErrorMessageForOutsideCriteriaNLALevel</name>
        <label>Error Message For Outside Criteria NLA Level</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorMessageForOutsideCriteriaNLA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>UpdateCaseNLA</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>DecisionCentre</name>
        <dataType>String</dataType>
        <value>
            <stringValue>decision-centre</stringValue>
        </value>
    </constants>
    <constants>
        <name>Error</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ERROR</stringValue>
        </value>
    </constants>
    <constants>
        <name>ErrorMessageForHigherNLA</name>
        <dataType>String</dataType>
        <value>
            <stringValue>You cannot update the case NLA level to &apos;Outside Criteria&apos;</stringValue>
        </value>
    </constants>
    <constants>
        <name>ErrorMessageForLowerNLA</name>
        <dataType>String</dataType>
        <value>
            <stringValue>You are unable to change the mandate level to one that is lower than the system NLA level output</stringValue>
        </value>
    </constants>
    <constants>
        <name>ErrorMessageForOutsideCriteriaNLA</name>
        <dataType>String</dataType>
        <value>
            <stringValue>You are unable to change the mandate level to one that is lower than Level 5 due to the system NLA level output</stringValue>
        </value>
    </constants>
    <constants>
        <name>ExceptionLoggingOnApplicationUpdationErrorMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Exception during updating the Case NLA on Mortgage Application</stringValue>
        </value>
    </constants>
    <constants>
        <name>ExceptionLoggingOnRetrievingMortgageApplication</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Exception during retrieving application</stringValue>
        </value>
    </constants>
    <constants>
        <name>FlowApiName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>FL009HomesTripCaseScreenFlow</stringValue>
        </value>
    </constants>
    <decisions>
        <name>NLALevelValidation</name>
        <label>NLA Level Validation</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>UpdateNLALevelInApplication</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Validation Matched</defaultConnectorLabel>
        <rules>
            <name>ValidationMatchedForOutsideCriteria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SystemNLALevel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectedNLAValueFormula</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorMessageForOutsideCriteriaNLALevel</targetReference>
            </connector>
            <label>Validation Matched For Outside Criteria</label>
        </rules>
        <rules>
            <name>ValidationForLowerNLAThanSelectedNLA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SystemNLALevel</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectedNLAValueFormula</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>SystemNLALevel</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorMessageForLowerNLALevel</targetReference>
            </connector>
            <label>Validation For Lower NLA Than Selected NLA</label>
        </rules>
        <rules>
            <name>ValidationForHigherNLAThanSelectNLA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedNLAValueFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectedNLAValueFormula</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>SystemNLALevel</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorMessageForHigherNLALevel</targetReference>
            </connector>
            <label>Validation For Higher NLA Than Selected NLA</label>
        </rules>
    </decisions>
    <description>FL009-Homes-Trip Case Screen Flow: This Screen Flow is used to update NLA level on Mortgage Application</description>
    <dynamicChoiceSets>
        <name>NLALevel</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>HMNLALevel__c</picklistField>
        <picklistObject>ResidentialLoanApplication</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>SelectedNLAValueFormula</name>
        <dataType>Number</dataType>
        <expression>VALUE({!SelectedNLAPicklistValue})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>SystemNLALevel</name>
        <dataType>Number</dataType>
        <expression>VALUE(TEXT({!FetchMortgageApplicationRecord.HMSystemNLA__c}))</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>FL009-Homes-Trip Case Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL009-Homes-Trip Case Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>FetchMortgageApplicationRecord</name>
        <label>Fetch Mortgage Application Record</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignDefaultNLAValue</targetReference>
        </connector>
        <faultConnector>
            <targetReference>AssignCustomErrorMessageOnRetrievingApplication</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResidentialLoanApplication</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateNLALevelInApplication</name>
        <label>Update NLA Level In Application</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <faultConnector>
            <targetReference>AssigningCustomMessageOnApplicationUpdate</targetReference>
        </faultConnector>
        <inputReference>FetchMortgageApplicationRecord</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>UpdateCaseNLA</name>
        <label>Update Case NLA</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignSelectedPicklistValue</targetReference>
        </connector>
        <fields>
            <name>DisplayErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(199, 23, 23);&quot;&gt;{!ErrorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NLALevelPicklist</name>
            <choiceReferences>NLALevel</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DefaultNLALevelValue</elementReference>
            </defaultValue>
            <fieldText>Case NLA</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>FetchMortgageApplicationRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>ExceptionLogging</name>
        <label>Exception Logging</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <flowName>FL010HomesExceptionLoggingScreenFlow</flowName>
        <inputAssignments>
            <name>ExceptionTags</name>
            <value>
                <elementReference>DecisionCentre</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowAPIName</name>
            <value>
                <elementReference>FlowApiName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowFaultErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LogEntryCustomMessage</name>
            <value>
                <elementReference>ExceptionCustomMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LoggingLevel</name>
            <value>
                <elementReference>Error</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>DefaultNLALevelValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExceptionCustomMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedNLAPicklistValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
