src/decision-centre/main/default/flows/FL001HomesAppCheckScreenFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_custom_error_message_from_subflow</name>
        <label>Assign custom error message from subflow</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>ExceptionCustomMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateAppCheckRecord.LoggerCustomMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExceptionFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateAppCheckRecord.LoggerFaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Exception_Logging</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_custom_error_message_on_Fetch_App_Decision</name>
        <label>Assign custom error message on Fetch App Decision</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>ExceptionCustomMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExceptionLoggingOnFetchApplicationDecisions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExceptionFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Exception_Logging</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fetch_Existing_Record_Count</name>
        <label>Fetch Existing Record Count</label>
        <locationX>611</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>RecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Fetch_Application_Decision_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Application_Check_Previously_Run</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>ChildFlowApiName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>FL001HomesCreateAppCheckRecords</stringValue>
        </value>
    </constants>
    <constants>
        <name>DecisionCentre</name>
        <dataType>String</dataType>
        <value>
            <stringValue>decision-centre</stringValue>
        </value>
    </constants>
    <constants>
        <name>Error</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ERROR</stringValue>
        </value>
    </constants>
    <constants>
        <name>ExceptionLoggingOnFetchApplicationDecisions</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Exception during fetching of application decision records</stringValue>
        </value>
    </constants>
    <constants>
        <name>FlowApiName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>FL001HomesAppCheckScreenFlow</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Application_Check_Previously_Run</name>
        <label>Application Check Previously Run ?</label>
        <locationX>611</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Display_Warning_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Previously_Run</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirmation_Screen</targetReference>
            </connector>
            <label>If Previously Run ?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Yes_Confirmation</name>
        <label>Check If Yes Confirmation</label>
        <locationX>380</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Confirmation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConfirmationValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateAppCheckRecord</targetReference>
            </connector>
            <label>Yes Confirmation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_subflow_had_error</name>
        <label>Did subflow had error?</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateAppCheckRecord.LoggerWasExceptionThrown</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_custom_error_message_from_subflow</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>FL001-Homes-App Check Screen Flow : Launches the Create App checks Flow</description>
    <environments>Default</environments>
    <interviewLabel>FL001-Homes-App Check Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL001-Homes-App Check Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Fetch_Application_Decision_Record</name>
        <label>Fetch Application Decision Record</label>
        <locationX>611</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Existing_Record_Count</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_custom_error_message_on_Fetch_App_Decision</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HMResidentialLoanApplication__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>HMDecisionType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Application Checks</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>HMAppDecision__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_If_Yes_Confirmation</targetReference>
        </connector>
        <fields>
            <name>ConfirmationDialogue</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Are you sure you wish to proceed?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirmation_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirmation_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NoConfirmation</name>
                    <extensionName>runtime_industries_lending:flowButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>buttonLabel</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>renderNext</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>YesConfirmation</name>
                    <extensionName>runtime_industries_lending:flowButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>buttonLabel</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>renderNext</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>ConfirmationValue</assignToReference>
                        <name>renderNext</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Warning_Screen</name>
        <label>Display Warning Screen</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>WarningMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;font-family: sans-serif;&quot;&gt;Application Checks cannot be run at this time.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fetch_Application_Decision_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>CreateAppCheckRecord</name>
        <label>Create App Check Record</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Did_subflow_had_error</targetReference>
        </connector>
        <flowName>FL001HomesCreateAppCheckRecords</flowName>
        <inputAssignments>
            <name>ResidentialLoanApplicationId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Exception_Logging</name>
        <label>Exception Logging</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <flowName>FL010HomesExceptionLoggingScreenFlow</flowName>
        <inputAssignments>
            <name>ExceptionTags</name>
            <value>
                <elementReference>DecisionCentre</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowAPIName</name>
            <value>
                <elementReference>FlowApiName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowFaultErrorMessage</name>
            <value>
                <elementReference>ExceptionFaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LogEntryCustomMessage</name>
            <value>
                <elementReference>ExceptionCustomMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LoggingLevel</name>
            <value>
                <elementReference>Error</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ConfirmationValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExceptionCustomMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExceptionFaultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
