src/decision-centre/main/default/flows/FL004HomesUpdateUserAcceptDecision.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_error_msg_on_Fetch_Refer_Child_Application_Decision</name>
        <label>Assign error msg on Fetch Refer Child Application Decision</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>ExceptionCustomMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExceptionLoggingOnFetchReferChildApplicationDecision</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Exception_logging</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_error_msg_on_Update_Application_Decision</name>
        <label>Assign error msg on Update Application Decision</label>
        <locationX>578</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>ExceptionCustomMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExceptionLoggingOnUpdateApplicationDecision</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Exception_logging</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IsAnyRefer_Yes_Assignment</name>
        <label>IsAnyRefer Yes Assignment</label>
        <locationX>666</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>IsAnyReferExists</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_On_Refer_Application_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IsAnyReferExists_No_Assignment</name>
        <label>IsAnyReferExists No Assignment</label>
        <locationX>402</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>IsAnyReferExists</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_On_Refer_Application_Decision</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>DecisionCentre</name>
        <dataType>String</dataType>
        <value>
            <stringValue>decision-centre</stringValue>
        </value>
    </constants>
    <constants>
        <name>Error</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ERROR</stringValue>
        </value>
    </constants>
    <constants>
        <name>ExceptionLoggingOnFetchReferChildApplicationDecision</name>
        <dataType>String</dataType>
        <value>
            <stringValue>FL004HomesUpdateUserAcceptDecision - Exception on Fetch Refer Child Application Decision</stringValue>
        </value>
    </constants>
    <constants>
        <name>ExceptionLoggingOnUpdateApplicationDecision</name>
        <dataType>String</dataType>
        <value>
            <stringValue>FL004HomesUpdateUserAcceptDecision - Exception on Update Application Decision</stringValue>
        </value>
    </constants>
    <constants>
        <name>FlowApiName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>FL004HomesUpdateUserAcceptDecision</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_If_Yes_Confirmation</name>
        <label>Check If Yes Confirmation</label>
        <locationX>578</locationX>
        <locationY>950</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Verify_Decision_Outcome_Accept</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConfirmationValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Application_Decision</targetReference>
            </connector>
            <label>Verify Decision Outcome Accept</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_IsAnyRefer_Exists</name>
        <label>Check IsAnyRefer Exists</label>
        <locationX>314</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>Confirmation_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_Accept_Warning</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsAnyReferExists</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Message</targetReference>
            </connector>
            <label>Set Accept Warning</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_Outcome</name>
        <label>Check User Outcome</label>
        <locationX>534</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>IsAnyRefer_Yes_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Accept_Validation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_On_Refer_Application_Decision.HMUserDecision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accept</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsAnyReferExists</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsAnyReferExists_No_Assignment</targetReference>
            </connector>
            <label>Accept Validation</label>
        </rules>
    </decisions>
    <description>FL004-Homes-Update User Accept Decision : This Flow updates the Application Decision record User Decision field based on conditions</description>
    <environments>Default</environments>
    <interviewLabel>FL004-Homes-Update User Accept Decision {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL004-Homes-Update User Accept Decision</label>
    <loops>
        <name>Iterate_On_Refer_Application_Decision</name>
        <label>Iterate On Refer Application Decision</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <collectionReference>Fetch_Refer_Child_Application_Decision</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_User_Outcome</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_IsAnyRefer_Exists</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Fetch_Refer_Child_Application_Decision</name>
        <label>Fetch Refer Child Application Decision</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_On_Refer_Application_Decision</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_error_msg_on_Fetch_Refer_Child_Application_Decision</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HMSystemDecision__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fail</stringValue>
            </value>
        </filters>
        <filters>
            <field>HMParentDecision__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>HMAppDecision__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Application_Decision</name>
        <label>Update Application Decision</label>
        <locationX>314</locationX>
        <locationY>1058</locationY>
        <faultConnector>
            <targetReference>Assign_error_msg_on_Update_Application_Decision</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HMUserDecision__c</field>
            <value>
                <stringValue>Accept</stringValue>
            </value>
        </inputAssignments>
        <object>HMAppDecision__c</object>
    </recordUpdates>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>578</locationX>
        <locationY>842</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_If_Yes_Confirmation</targetReference>
        </connector>
        <fields>
            <name>AcceptConfirmation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em&gt;Are you sure you want to Accept?&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirmation_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirmation_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NoConfirmation</name>
                    <extensionName>runtime_industries_lending:flowButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>renderNext</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttonLabel</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>YesConfirmation</name>
                    <extensionName>runtime_industries_lending:flowButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>buttonLabel</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>ConfirmationValue</assignToReference>
                        <name>renderNext</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Screen_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Message</name>
        <label>Display Message</label>
        <locationX>50</locationX>
        <locationY>842</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayWarning</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;em style=&quot;font-family: sans-serif;&quot;&gt;Unable to ‘Accept’ unless ALL failed checks&apos; have been individually accepted&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fetch_Refer_Child_Application_Decision</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Exception_logging</name>
        <label>Exception logging</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <flowName>FL010HomesExceptionLoggingScreenFlow</flowName>
        <inputAssignments>
            <name>ExceptionTags</name>
            <value>
                <elementReference>DecisionCentre</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowAPIName</name>
            <value>
                <elementReference>FlowApiName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowFaultErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LogEntryCustomMessage</name>
            <value>
                <elementReference>ExceptionCustomMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LoggingLevel</name>
            <value>
                <elementReference>Error</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ConfirmationValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExceptionCustomMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsAnyReferExists</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
