src/decision-centre/main/default/flows/FL010HomesExceptionLoggingScreenFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <constants>
        <name>CustomExceptionMessage</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Something went wrong, Please check logs for more Information or contact System Administrator</stringValue>
        </value>
    </constants>
    <description>Screen flow handles exceptions, shows friendly message to user and creates log record of them using subflow</description>
    <environments>Default</environments>
    <interviewLabel>FL010-Homes-Exception Logging Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FL010-Homes-Exception Logging Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>DisplayErrorScreen</name>
        <label>DisplayErrorScreen</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 3, 3);&quot;&gt;{!CustomExceptionMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>LogExceptionWithSubflow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>LogExceptionWithSubflow</name>
        <label>Log Exception with subflow</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>DisplayErrorScreen</targetReference>
        </connector>
        <flowName>FL010HomesExceptionLogging</flowName>
        <inputAssignments>
            <name>ExceptionTags</name>
            <value>
                <elementReference>ExceptionTags</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowAPIName</name>
            <value>
                <elementReference>FlowAPIName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FlowFaultErrorMessage</name>
            <value>
                <elementReference>FlowFaultErrorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LogEntryCustomMessage</name>
            <value>
                <elementReference>LogEntryCustomMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LoggingLevel</name>
            <value>
                <elementReference>LoggingLevel</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ExceptionTags</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FlowAPIName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FlowFaultErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LogEntryCustomMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoggingLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
